.App {
  background: darkslategrey;
  text-align: center;
}

h1{
  font-family: 'Anton', sans-serif;
  text-align: center;
}
h3{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem !important;
}
#root{
  position: relative;
}

.product {
  
  transition: all 1s linear;
  margin-bottom: 2rem;
}
.product .img-container{
  position: relative;
  overflow: hidden;
}
.card-img-top{
  transition: all 1s linear;
}

.card-footer{
  background: transparent;
  border-top: transparent;
  transition: all 1s linear;
}
.product button{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.15rem 0.2rem;
  background: lightskyblue;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 0.5rem 0 0 0;
  transition: all 0.7s linear;
  transform: translate(100%,100%);
  
}

.product:hover .card{
  border: 0.04rem solid rgba(255, 255, 255, 0.6);
  box-shadow: 2px 2px 5px 0px rgba(255,255,255, 0.2);
}
.product:hover button{
  transform: translate(0,0);
}
.product:hover .card-footer{
  background-color: rgba(0,0,0,0.9);
}

.product:hover img{
  transform: scale(1.2)
}
#modal{
  background: rgba(0,0,0,0.98);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.mybtn{
  font-family: 'Anton', sans-serif;
  text-transform: capitalize;
  font-size: 1.1rem;
  background: transparent;
  border: 0.05px solid lightsteelblue;
  border-radius: 0.5rem;
  cursor: pointer;
  color: linen;
}

.controls{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls *{
  border-radius: 0.5rem;
  margin:0.05rem;  
  padding: 0.05rem;
  border: 1px solid gray
}
